{
    "extends": ["plugin:prettier/recommended", "prettier/react"],
    "plugins": ["prettier", "react-hooks"],
    "parser": "babel-eslint",
    "rules": {
        "prettier/prettier": "error",
        "no-restricted-syntax": ["error", "SequenceExpression"],
        "react-hooks/exhaustive-deps": "warn",
        "import/no-named-as-default": 0
    }
}
