{
    "extends": ["plugin:prettier/recommended", "prettier/react"],
    "plugins": ["prettier"],
    "parser": "babel-eslint",
    "rules": {
        "prettier/prettier": "error",
        "no-restricted-syntax": ["error", "SequenceExpression"],
        "react-hooks/exhaustive-deps": "warn"
    }
}
