# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
/coverage

# within src, there's an archive of old code
/src/archive

# contains 
/es

# PYTHON
# python interpreter files
python/venv
python/config
python/data
python/log.txt
python/__pycache__

# production, keeping build in repo for webhook to DO
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
