@import url(font-awesome.min.css);

.hide-me {
  opacity: 0;
  display: none;
}

.content {
  display: flex;
  padding: 0 2em;
  min-height: 100%;
  align-items: flex-start;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  flex-flow: row wrap;
  align-content: flex-end; /*flex-start, space-between, space-around, stretch */
}
.grid {
    height: 100%;
    padding: 10px;
    margin: 10px;
    flex: 1;
}

.archives-title {
  margin: 0 0 20px 10px;
  font-size: 2.2em;
}

/* MEDIA QUERIES
breakpoints: 1680, 1280, 980, 736, 480
*/
@media screen and (max-width: 1680px) {

}
  
@media screen and (max-width: 1280px) {

}

@media screen and (max-width: 980px) {

}

@media screen and (max-width: 736px) {
  .content {
    padding: 0 1em;
  }
}

@media screen and (max-width: 480px) {
  .content {
    padding: 0 0.3em;
  }
}