.grid {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    flex-flow: row wrap;
    align-content: flex-end; /*flex-start, space-between, space-around, stretch */
  }
  .card {
    border: 1px solid #222;
    align-content: flex-start;
    padding: 10px;
    margin: 1%;
    min-width: 30%;
    width: 80%;
    height: 100%;
  }
  .card-item-link, .card-item-img-link {
    text-decoration: underline;
    cursor: pointer;
  }
  .item-lead {
    font-weight: bold;
  }
  .item-work {
    font-weight: bold;
    text-transform: uppercase;
  }
  .item-btn {
    text-decoration: underline;
    cursor: pointer;
  }
  .item-btn:hover {
    opacity: 0.8;
  }
  .card-sub-item {
    padding-left: 10%;
  }
.item-work-label {
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.image-first-image-scan {
  margin: 1em;
}
/* MEDIA QUERIES
breakpoints: 1680, 1280, 980, 736, 480
*/
@media screen and (max-width: 1680px) {

  
}
  
@media screen and (max-width: 1280px) {

  

}

@media screen and (max-width: 980px) {

  .card {
    width: 90%;
  }

}

@media screen and (max-width: 736px) {

  .card {
    width: 94%;
  }
  

}

@media screen and (max-width: 480px) {

  
  

}