body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.language-list {
  list-style: none;
  margin-right: auto;
  
}

.lang, .lang-active {
  float: left;
}

.nav-list {
  list-style: none;
  margin-left: auto;
}
.nav, .nav-active {
  float: right;
}
.btn-nav, .btn-lang {
  /* background-color: rgba(72, 68, 89, 0.2); */
  color: #222;
  text-decoration: none;
  border: none;
  padding: 0 1em;
  height: 2em;
  line-height: 2em;
  outline: none
}
.btn-nav a, .btn-lang a {
  text-decoration: none;
  color: #222;
  outline: none;
}
.btn-nav:hover, .btn-nav a:hover, 
.btn-nav:active, .btn-nav a:active,
.btn-nav:focus, .btn-nav a:focus,
.nav-active.btn-nav, .nav-active.btn-nav a,
.btn-lang:hover, .btn-lang a:hover,
.btn-lang:active, .btn-lang a:active
.btn-lang:focus, .btn-lang a:focus
.lang-active.btn-nav, .lang-active.btn-nav a {
  /* background-color: rgba(72, 68, 89, 0.5); */
  outline: none;
  color: #7c759a;
}

body {
  background: #efefef;
}
#banner {
  background-size: cover;

}
#footer {
  border-top: 1px solid #efefef;
  background: #222; /*url("../images/bg.jpg")*/
}

.wrapper > .inner-page {
  margin: 0 auto;
  padding-bottom: 0.01em;
  padding: 10%;
  font-size: 1.4em;
  width: 100%;
  max-width: 58.5em;
}