@import url(font-awesome.min.css);

.card {
    /* border: 1px solid #7c759a; */
    align-content: flex-start;
    padding: 10px;
    margin: 10px; /*1%;*/
    min-width: 30%;
    height: 100%;
}
.card-item-link {
  cursor: pointer;
  padding: 0.4em;
  background: transparent;
  border: 1px solid #efefef;
  transition: background 100ms linear, border 160ms linear;
  border-radius: 4px;
  line-height: 1.4em;
}
.card-item-link:hover {
  background: #fff;
  border: 1px solid #80799c;
  transition: background 200ms linear, border 220ms linear;
}
.card-item-link:before {
  content: "\f101"; /* FontAwesome Unicode */
  font-family: FontAwesome;
  display: inline-block;
  /* margin-left: -1.3em; same as padding-left set on li */
  width: 1.3em; /* same as padding-left set on li */
}
.card-sub-item {
  padding-left: 10%;
}
.item {
  margin-top: 0.6em;
  color: #484459;
  
}
.item-title {
  font-weight: bold;
  color: #484459;
  text-decoration: none;
}

.subitems {
  margin-left: 20px;
  margin-top: 0.4em;
  color: #484459;
  display: block;
  text-decoration: none;

}

.subitems.card-item-link::before {
  content: "\f105"; /* FontAwesome Unicode */
  font-family: FontAwesome;
  display: inline-block;
  /* margin-left: -1.3em; same as padding-left set on li */
  width: 1.3em; /* same as padding-left set on li */
}

.item-lead {
    font-weight: bold;
}
.item-work {
  font-weight: bold;
  text-transform: uppercase;
}
.item-btn {
  text-decoration: underline;
  cursor: pointer;
}
.item-btn:hover {
  opacity: 0.8;
}

.item-work-label {
    text-transform: uppercase;
    letter-spacing: 0.1em;
}

.image-first-image-scan {
  margin: 0 1em 1em 1em;
}

.meta-detail {
  font-style: italic;
  font-size: 0.8em;
  margin: 0 0 0.5em 0;
}
.meta-detail-id {
  font-style: italic;
  font-size: 0.8em;
  margin: 0 0 0.5em 0;
  /* float: right; */
}

/* MEDIA QUERIES
breakpoints: 1680, 1280, 980, 736, 480
*/
@media screen and (max-width: 1680px) {

  
}
  
@media screen and (max-width: 1280px) {

  

}

@media screen and (max-width: 980px) {

  .card {
    width: 90%;
  }

}

@media screen and (max-width: 736px) {
  .card {
    width: 94%;
  }
}

@media screen and (max-width: 480px) {
  
}