.something-items {
    margin-left: 40px;
}

.something-items.card-item-link::before {
    content: "\f105"; /* FontAwesome Unicode */
    font-family: FontAwesome;
    display: inline-block;
    margin-left: -1.3em; /* same as padding-left set on li */
    width: 1.3em; /* same as padding-left set on li */
}